.section-slider-3 {
    padding: 100px 0;

    @media (max-width: 991px) {
        padding: 70px 0 50px;
    }

    @media (max-width: 767px) {
        padding: 30px 0;
    }

    &__wrapper {}

    &__title {
        color: #182834;
        font-size: 48px;
        font-family: Inter;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 50px;
        text-align: center;

        @media (max-width: 991px) {
            font-size: 36px;
        }

        @media (max-width: 767px) {
            font-size: 26px;
        }
    }

    &__swiper {
        width: 100%;

    }

    &__swiper-wrapper {}

    &__swiper-slide {
        height: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: self-start;
    }

    &__swiper-pagination {
        bottom: 1.25rem !important;
    }

    .swiper-pagination-bullet,
    .swiper-pagination-bullet-active {
        background: #fff;
    }

    .swiper-3d .swiper-slide-shadow-left,
    .swiper-3d .swiper-slide-shadow-right {
        background-image: none;
    }
}

.site-container {}

.swiper {}

.swiper-wrapper {}

.swiper-slide {

    &__wrapper {
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.swiper-pagination {}